{{ define "main" }}
<main>
    <h1>{{ .Site.Title }}</h1>

    {{- if .Site.Params.Description }}
    <p class="byline">
        {{ .Site.Params.Description }}
    </p>
    {{- end }}

    <ul class="posts">
        {{ $posts := where site.RegularPages "Type" "posts" }}
        {{ range $posts }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <small>
                — <time datetime="{{ dateFormat "2006-01-02" .Date }}" itemprop="datePublished">
                    {{ dateFormat "2006-01-02" .Date }}
                </time>
            </small>
        </li>
        {{ end }}
    </ul>
</main>

<footer>
    --
    <br><a href="/index.xml">RSS</a>
</footer>
{{ end }}
